@use "../../utilities/variables";
@use "../../utilities/mixins";

.step {

  &__content {
    width: 16.7%;

  }

  &__wrapper {
    background-color: variables.$Alabaster;
    width: 80%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1rem;
  }

  &__title {

    h2 {
      font-size: 1.7rem;
      margin: 0;
      color: variables.$Marine-blue;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.4;
      color: variables.$Light-gray;
    }
  }

  &__form {
    label {
      display: block;
      color: variables.$Marine-blue;
      font-weight: 500;
      margin-bottom: 0.2rem;
    }

    input {
      height: 2.5rem;
      width: 100%;
      border-radius: 0.2rem;
      outline: none;
      border: 1px solid variables.$Light-gray;
      padding-left: 1rem;
      margin-bottom: 1rem;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }

    input[type=number] {
      appearance: textfield;
    }
  }

  &__error {
    display: none;
    height: 2rem;
    font-size: 0.9rem;
    color: #ff0000;
  }
}