@use "../../utilities/variables";

.finishing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  margin: 0.5rem 0;

  &__border {
    border-bottom: 1px solid variables.$Light-gray;
  }

  &--noMargin {
    margin: 0;
  }

  &__description__text {
    color: variables.$Marine-blue;
    font-weight: 700;

  }

  &__description__sub {
    color: variables.$Light-gray;
    font-size: 1rem;
  }

  &__description__price {
    color: variables.$Marine-blue;

    &--bold {
      font-weight: bold;
    }
  }

  &__total__price {
    font-size: 1.2rem;
    font-weight: bold;
    color: variables.$Purplish-blue;
  }
}