@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
/*Primary Colors*/
/*Neutral Colors*/
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

body, html {
  font-family: "Ubuntu", sans-serif;
}

.sidebar__img {
  background-image: url(../images/bg-sidebar-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 11rem;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/*header buttons*/
.sidebar__number {
  width: 40px;
  height: 40px;
  border: 1px solid hsl(0, 0%, 100%);
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
}

.sidebar__info {
  display: none;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step__wrapper {
  width: 90%;
  padding: 0 1rem 2rem;
  background-color: hsl(231, 100%, 99%);
  border-radius: 0.5rem;
  position: absolute;
  top: -75px;
}
.step__title h1 {
  font-size: 1.7rem;
  margin: 1.5rem 0 1rem;
  color: hsl(213, 96%, 18%);
}
.step__title p {
  font-size: 1.1rem;
  line-height: 1.4;
  color: hsl(229, 24%, 87%);
}
.step__form label {
  display: block;
  color: hsl(213, 96%, 18%);
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.step__form input {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.2rem;
  outline: none;
  border: 1px solid #000;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.step__fill {
  width: 100%;
  height: 30rem;
  background-color: hsl(217, 100%, 97%);
  display: flex;
  align-items: flex-end;
  margin-bottom: 7rem;
}
.step__fill button {
  font-weight: 500;
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  outline: none;
  border: none;
  padding: 0.8rem 1.3rem;
  border-radius: 0.3rem;
}

.step__content__btn {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: hsl(231, 100%, 99%);
}

.step__content__btn--modified {
  justify-content: space-between;
}
.step__content__btn--modified .btn__goBack {
  background-color: transparent;
  color: hsl(229, 24%, 87%);
  font-weight: 700;
}

.wrapper {
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1.5rem;
}
.wrapper__description span {
  display: block;
}
.wrapper__description__text {
  color: hsl(213, 96%, 18%);
  margin-bottom: 0.3rem;
}
.wrapper__description__number {
  color: hsl(229, 24%, 87%);
}

.wrap__toggle {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.wrap__toggle__text {
  font-weight: 500;
}
.wrap__toggle__text--disabled {
  color: hsl(229, 24%, 87%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
  background-color: hsl(213, 96%, 18%);
  border-radius: 40px;
  cursor: pointer;
}

.switch::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: #fff;
  left: 2px;
  top: 2px;
  transition: all 0.4s;
}

input[type=checkbox]:checked + .switch::after {
  transform: translate(30px);
  background-color: gray;
}

input[type=checked]:checked + .switch {
  background-color: green;
}

.offscreen {
  display: none;
}

/*step 2*/
.container {
  max-width: 375px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
}

/*# sourceMappingURL=style.css.map */
