@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
/*Primary Colors*/
/*Neutral Colors*/
* {
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 100%, 97%);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

body, html {
  font-family: "Ubuntu", sans-serif;
}

.move__left {
  transition: all 0.3s ease-in-out;
}

.borderError {
  border: 2px solid red !important;
}

.sidebar__img {
  background-image: url(../images/bg-sidebar-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 11rem;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.sidebar__number {
  width: 40px;
  height: 40px;
  border: 1px solid hsl(0, 0%, 100%);
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
}

.sidebar__paint {
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
}

.sidebar__info {
  display: none;
}

.step__content {
  width: 16.7%;
}
.step__wrapper {
  background-color: hsl(231, 100%, 99%);
  width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem;
}
.step__title h2 {
  font-size: 1.7rem;
  margin: 0;
  color: hsl(213, 96%, 18%);
}
.step__title p {
  font-size: 1.1rem;
  line-height: 1.4;
  color: hsl(229, 24%, 87%);
}
.step__form label {
  display: block;
  color: hsl(213, 96%, 18%);
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.step__form input {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.2rem;
  outline: none;
  border: 1px solid hsl(229, 24%, 87%);
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.step__form input[type=number]::-webkit-inner-spin-button,
.step__form input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
.step__form input[type=number] {
  appearance: textfield;
}
.step__error {
  display: none;
  height: 2rem;
  line-height: 2rem;
  margin-bottom: 0.3rem;
  color: #ff0000;
}

.step__fill {
  width: 100%;
  background-color: hsl(217, 100%, 97%);
  display: flex;
  align-items: flex-end;
  position: relative;
}
.step__fill--modified {
  padding: 0.8rem 0;
}

.step__btn {
  font-weight: 500;
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  outline: none;
  border: none;
  padding: 0.8rem 1.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.step__btn:hover {
  background-color: hsl(243, 100%, 62%);
}
.step__btn--confirm {
  background-color: hsl(243, 100%, 62%);
}
.step__btn--disabled {
  pointer-events: none;
  background-color: hsl(229, 24%, 87%);
}

.step__content__btn {
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: hsl(231, 100%, 99%);
  position: fixed;
  bottom: 0;
}
.step__content__btn--flex {
  justify-content: space-between;
}

.plan {
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
}
.plan:hover {
  background-color: hsl(217, 100%, 97%);
  cursor: pointer;
}
.plan__description__text {
  font-weight: 500;
  color: hsl(213, 96%, 18%);
  margin-bottom: 0.3rem;
}
.plan__description__price {
  color: hsl(229, 24%, 87%);
}
.plan__toggle {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.plan__toggle__text {
  font-weight: 500;
}
.plan__switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
  background-color: hsl(213, 96%, 18%);
  border-radius: 40px;
  cursor: pointer;
}
.plan__switch::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: #fff;
  left: 2px;
  top: 2px;
  transition: all 0.4s;
}
.plan__offscreen {
  display: none;
}

.check__step__2 {
  display: none;
}

input[type=checkbox]:checked + .plan__switch::after {
  transform: translateX(30px);
  background-color: hsl(0, 0%, 100%);
}

input[type=checkbox]:checked + .plan__switch {
  background-color: hsl(243, 100%, 62%);
}

.pick {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 0.5rem;
  padding: 1rem;
}
.pick__contain {
  border: 1px solid green;
}
.pick__check {
  width: 18px;
  height: 18px;
  accent-color: hsl(243, 100%, 62%);
  cursor: pointer;
}
.pick__description__text {
  font-weight: bold;
  color: hsl(213, 96%, 18%);
}
.pick__description__sub {
  font-size: 0.8rem;
  color: hsl(231, 11%, 63%);
}
.pick__description__price {
  color: hsl(243, 100%, 62%);
  font-size: 0.8rem;
}

.border {
  border-color: hsl(243, 100%, 62%);
}

.finishing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}
.finishing__border {
  border-bottom: 1px solid hsl(229, 24%, 87%);
}
.finishing--noMargin {
  margin: 0;
}
.finishing__description__text {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
}
.finishing__description__sub {
  color: hsl(229, 24%, 87%);
  font-size: 1rem;
}
.finishing__description__price {
  color: hsl(213, 96%, 18%);
}
.finishing__description__price--bold {
  font-weight: bold;
}
.finishing__total__price {
  font-size: 1.2rem;
  font-weight: bold;
  color: hsl(243, 100%, 62%);
}

.wrapper__img {
  text-align: center;
}

.step__title--center {
  text-align: center;
}
.step__title--center p {
  font-size: 1.03rem;
}

/*step 2*/
/*step 3*/
/*step 4*/
/*step 5*/
.container__wrapper {
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
}
.container__all {
  min-width: 375px;
  width: 600%;
  display: flex;
  position: relative;
  top: -75px;
}

@media screen and (min-width: 1440px) {
  .sidebar__numbers {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .sidebar__info__number {
    font-size: 0.7rem;
    color: hsl(229, 24%, 87%);
    margin-bottom: 0.2rem;
  }
  .sidebar__info__text {
    font-size: 0.9rem;
    color: hsl(0, 0%, 100%);
  }
  .sidebar__info {
    display: block;
  }
  .container {
    max-width: 1440px;
    margin: 5rem auto 0;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
  }
  .step__content, #content__step__four {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .step__wrapper {
    background-color: hsl(0, 0%, 100%);
    margin-top: 2rem;
  }
  .step__content__btn {
    position: relative;
    padding: 2rem 8rem;
  }
  .container__all {
    position: none;
    top: 0;
    left: 0;
  }
  .container__wrapper {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
  }
  .container__wrapper .sidebar__img {
    background-image: url(../images/bg-sidebar-desktop.svg);
    background-position: center;
    width: 100%;
    height: 100%;
    min-width: 100%;
    padding: 3rem 0 0 3rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 50;
    border-radius: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
