@use "../../utilities/variables";
@use "../../utilities/mixins";

.step__fill {
  width: 100%;
  height: 30rem;
  background-color: variables.$Magnolia;
  display: flex;
  align-items: flex-end;
  // border: 1px solid red;

  &--modified {
    padding: 0.8rem 0
  }
}

.step__btn {
  @include mixins.button-next();

  &--back {
    background-color: transparent;
    color: variables.$Light-gray;
    font-weight: 700;
  }

  &--confirm {
    background-color: variables.$Purplish-blue;
  }
}

.step__content__btn {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: variables.$Alabaster;

  &--flex {
    justify-content: space-between;
  }
}