@use "../../utilities/variables";
@use "../../utilities/mixins";

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    width: 90%;
    padding: 0 1rem 2rem;
    background-color: variables.$Alabaster;
    border-radius: 0.5rem;
    position: absolute;
    top: -75px;
  }

  &__title {

    h2 {
      font-size: 1.7rem;
      margin: 1.5rem 0 1rem;
      color: variables.$Marine-blue;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.4;
      color: variables.$Light-gray;
    }
  }

  &__form {
    label {
      display: block;
      color: variables.$Marine-blue;
      font-weight: 500;
      margin-bottom: 0.2rem;
    }

    input {
      height: 2.5rem;
      width: 100%;
      border-radius: 0.2rem;
      outline: none;
      border: 1px solid variables.$Light-gray;
      padding-left: 1rem;
      margin-bottom: 1rem;
    }
  }
}