@use "../../utilities/variables";
@use "../../utilities/extra";

.pick {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid variables.$Light-gray;
  border-radius: 0.5rem;
  padding: 1rem;

  &__contain {
    border: 1px solid green;
  }

  &__check {
    width: 18px;
    height: 18px;
    accent-color: variables.$Purplish-blue;
  }

  &__description__text {
    font-weight: bold;
    color: variables.$Marine-blue;
  }

  &__description__sub {
    font-size: 0.8rem;
    color: variables.$Cool-gray;
  }

  &__description__price {
    color: variables.$Purplish-blue;
    font-size: 0.8rem;
  }
}

.border {
  border-color: variables.$Purplish-blue;
}